button {
  &.btn {
    border: none;
    padding: 10px;
    
    &.primary {
      color: #fff;
      background-color: #2F904F;
      border-color: #2F904F;
    }
    &.default {
      background-color: rgb(232, 235, 242);
      color: rgb(71, 90, 95);
      border-color: rgb(232, 235, 242);
    }
  }
}

.app {
  padding: 50px;
}

body {
  background-color: #f5f5f5f5 !important;
}